.btnDark{
    padding: 5px 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.btnLight{
    padding: 5px 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 10px;
}
.mainNav h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;

}
.btnEdit{
    padding: 5px 20px;
    border: 1px solid #FFC107;
    background-color: #FFC107;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 6px;
}
.btnDelete{
    padding: 5px 20px;
    border: 1px solid #f44336;
    background-color: #F44336;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.inpSearch{
    padding: 5px 20px;
    border: 1px solid blue;
    outline: none;
    color: blue;
    margin-left: 10px;
}
.btnAdd{
    padding: 5px 20px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}
table{
    margin-left: 10px;
    width: 99%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}
tr{
    border: 1px solid black;  
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
th{
    padding: 10px;
    border: 1px solid black;
}
.tr{
    height: 40px;
    position: relative;
    left: 10px;
}
.AddDialog{
    width: 300px;
}
.AddForm input{
    padding: 5px;
    width: 96%;
    margin-top: 15px;
}
.AddForm button{
    padding: 5px 20px;
    border: 1px solid green;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.btnAddClose{
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}
.EditDialog{
    width: 300px;
}
.EditForm input{
    padding: 5px;
    width: 96%;
    margin-top: 15px;
}
.EditForm button{
    padding: 5px 20px;
    border: 1px solid green;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.btnEditClose{
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}




body[data-theme="dark"] {
    background-color: #333;
    color: #fff;
}

body[data-theme="light"] {
    background-color: #fff;
    color: #333;
}

.btnDark, .btnLight {
    transition: all 0.3s ease;
}

.btnDark {
    display: block;
}

.btnLight {
    display: none;
}